<app-header></app-header>
<div class="clipped-div">
  <div class="in-clipped-container">
    <div class="fit-content-image">
      <img src="../../assets/icons/logo.png" width="100%" alt="error" />
    </div>
    <div class="fit-content">
      <h1>Why save the date?</h1>
      <p>- Find the nearest events.</p>
      <p>- Organize your own</p>
      <p>- Provide services to help the community</p>
    </div>
  </div>
</div>
<div class="card-super-container">
  <div class="cards-container">
    <a routerLink="/events">
      <mat-card class="mat-card">
        <mat-card-header class="header">
          <mat-card-title style="align-self: center;">
            Check Upcoming Events
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img
            src="../../assets/icons/fireworks.png"
            width="80%"
            style="margin-bottom: 11%; margin-top: 4%;"
          />
        </mat-card-content>
        <mat-card-footer class="footer">
          Find and participate to nearby events. Don't forget to invite your
          friends!
        </mat-card-footer>
      </mat-card>
    </a>
    <a routerLink="/add-event">
      <mat-card class="mat-card">
        <mat-card-header class="header">
          <mat-card-title style="align-self: center;">
            Create your own event
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img
            src="../../assets/icons/add.png"
            style="margin-top: 1%;"
            width="35%"
          />
        </mat-card-content>
        <mat-card-footer class="footer">
          Create your personalized Event & Share it to let people know about it
        </mat-card-footer>
      </mat-card>
    </a>

    <a routerLink="/add-service">
      <mat-card class="mat-card">
        <mat-card-header class="header">
          <mat-card-title style="align-self: center;">
            Provide your services
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img
            src="../../assets/icons/service.png"
            width="35%"
            style="margin-top: 1%;"
          />
        </mat-card-content>
        <mat-card-footer class="footer">
          Put your experience to work by helping event organizers find what they
          need.
        </mat-card-footer>
      </mat-card>
    </a>
    <a routerLink="/aboutUs">
      <mat-card class="mat-card">
        <mat-card-header class="header">
          <mat-card-title>
            Contact Us
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img
            src="../../assets/icons/contact.png"
            width="35%"
            style="margin-top: 1%;"
          />
        </mat-card-content>
        <mat-card-footer class="footer">
          Get in touch with us for any additional information.
        </mat-card-footer>
      </mat-card>
    </a>
  </div>
</div>
